<app-modal
  [isOpen]="isModalOpen"
  [title]="modalTitle"
  [message]="modalMessage"
  (confirm)="confirmarAcao()"
  (cancel)="fecharModal()"
></app-modal>

<div class="flex justify-center bg-gray-100 min-h-40 p-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <div 
      *ngFor="let usuario of usuarios" 
      class="bg-white shadow-md rounded-lg p-4 flex flex-col items-center w-64"
    >
    <div class="bg-gray-200 w-24 h-24 rounded-full flex items-center justify-center mb-4">
        <img 
          [src]="usuario.foto || 'assets/imagens/avatar/Avatar-Image.jpg'" 
          alt="Foto do Usuário"
          class="rounded-full w-full h-full object-cover"
        />
      </div>
      

      <h2 class="text-lg font-semibold text-gray-800 mb-2">{{ usuario.nome }}</h2>
      <p class="text-gray-600 text-sm"><strong>E-mail:</strong> {{ usuario.email }}</p>
      <p class="text-gray-600 text-sm mb-4"><strong>Telefone:</strong> {{ usuario.telefone }}</p>

      <div class="flex space-x-4">
        <button 
          class="bg-blue-500 text-white py-1 px-3 rounded hover:bg-blue-600"
          (click)="abrirModal(usuario, 'editar')"
        >
          Editar
        </button>
        <button 
          class="bg-red-500 text-white py-1 px-3 rounded hover:bg-red-600"
          (click)="abrirModal(usuario, 'excluir')"
        >
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>
