.relative {
  position: relative;
}

button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #1a202c; 
}
a {
  text-decoration: none;
  color: #1a202c;
  display: block;
}

a:hover {
  background-color: #e2e8f0; 
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.border-gray-200 {
  border-color: #edf2f7;
}
